@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <button>
        <a class="nav-link text-dark" asp-area="" asp-page="/One">Один</a>
    </button>

    <button>
        <a class="nav-link text-dark" asp-area="" asp-page="/Many">Много</a>
    </button>
</div>
